body {
  background-image: url("../images/ep_naturalwhite/ep_naturalwhite.png");
  background-repeat: repeat-y repeat-x;

}

a {
  color: #777777;

}

h1 {
  color: white;
  background-color: #4aaaa5;
}

.container {
  background-color: white;
}

.container-header {
  background-color: white;
}

div.footer-content {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 35px;
  background-color: #666666;
  border-top: 5px solid #4aaaa5;
  color: #fff;
  text-align: center;
  height: 25px;
  font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  size: 8px;
}